<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid black;
            display: inline-block;
            margin: 40px;
        }

        .red {background: red;}
        .blue {background: blue;}
        .green {background: green;}

    </style>
</head>
<body>
    <div id="app">
    <h1>String: {{ name }}</h1>	
	<h1>Suma: 12 + 34 ={{ 12 + 34 }}</h1>
	<h1>Number: {{ num }}</h1>
	<h1>Method: {{ say() }}</h1>
    <h1>If statement: {{ isOk ? 'Ok. I am ok': 'No. Im not ok.' }}</h1>
    <h1>Function: {{ str.split('').reverse().join('') }}</h1>
    <a :href='url'>Google: {{ url }}</a>
    <h2 v-html="link"></h2>
    <h2>Licznik: {{ licznik }}</h2>
    <button v-on:click="add5">Dodaj 5</button>
    <hr>
    <h2 v-on:mouseover="changeColor">{{ title }}: {{ licznik2 }}</h2>
    <button v-on:click="add(2, 'Zmieniono o 2', $event)">Dodaj 2</button>
    <button v-on:click="add(4, 'Zmieiono o 4', $event)">Dodaj 4</button>
    <hr>
    <a href="http://google.com" targ	et="_blank" v-on:click="clickOnGoogle">Link do Google zmieniony za pomoca javascriptu preventDefault</a><hr>
    <a href="http://google.com" target="_blank" v-on:click.prevent="">Link do Google zmieniony za pomoca Vue prevent</a>
    
    <h2 v-on:mousemove="showXy">x:{{ x }} / y:{{ y }}
    <span v-on:mousemove.stop="">Zmien zachowanie myszy</span>
    </h2>
    <input type="text" v-on:keyup.enter="alertValue"><h2>Wprowadź dane i naciśnij enter</h2>
    <hr>
    <input type="text" v-model="inputValue">
    <h2>{{ inputValue }}</h2>
    <input type="text" v-model.lazy="inputValue2">
    <h2>{{ inputValue2 }}</h2>
    <div class="circle" @click="isActive = !isActive" :class="{'red': isActive}"></div>
    <div class="circle" :class="color"></div>
    <input type="text" v-model="color">
    <div class="circle" :class="getCssClass"></div><hr>
    <div class="circle" :style="{'background': color, 'height': height + 'px'}"></div>
    <input type="text" v-model="height">
    <div class="circle" :style="circleClass"></div>
    <div class="circle" :style="[circleClass, {'width': height + 'px'}]"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script>
        new Vue({	
            el: '#app',
            data: {
                name: 'Vue!',
				num: 144,
				isOk: false,
				str: 'My name is Dan',
                url: 'http://google.com',
                link: '<a href="http://google.com">Google</a>',
                licznik: 0,
                licznik2: 0,
                title: 'Licznik',
                x: 0,
                y: 0,
                inputValue: 'initial value',
                inputValue2: 'z modyfikatorem lazy, zmiana następuje po zdjęciu z fokusa',
                isActive: false,
                color: '',
                height: 100
            },
            computed: {
                getCssClass: function() {
                    return {
                        'red': this.isActive,
                        'green': !this.isActive
                    }
                },
                circleClass: function() {
                    return {
                        'background': this.color, 
                        'height': this.height + 'px'
                    }
                }
            },

			methods: {
				say: function() {
					return 'I am function'
				},
                add5: function() {
                    this.licznik += 5
                },
                add: function(num, str) {
                    this.licznik2 += num,
                    this.title = str
                    if (num === 2) {
                        event.target.style.color = 'blue'
                    } else if (num === 4){
                        event.target.style.color = 'red'
                    }
                },
                changeColor: function(event) { 
                    event.target.style.backgroundColor = 'red' 
                },
                clickOnGoogle:  function(event) {
                        event.preventDefault()
                },
                showXy: function(event){
                    this.x = event.clientX
                    this.y = event.clientY
                },
                alertValue: function(event){
                    alert(event.target.value)
                }
			}
        })
    </script>
</body>
</html>